:root {
  text-align: center;
  --theme-main: #222222;
  --theme-secondary: #ffffff;
  --theme-accent: #dd00ff;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--theme-main);
}

.login-container {
  margin: 0px;
  padding: 0px;
  background-color: var(--theme-main);
}

.login-header {
  margin: 0px;
  padding: 0px;
  color: var(--theme-accent);
  font-size: 50px;
  text-shadow: 0px 0px 20px var(--theme-accent);
  font-family: sans-serif;
}

.login-subheader {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  color: var(--theme-secondary);
  font-size: 22px;
  font-family: cursive;
}

.login-play-button {
  outline: none;
  background: none;
  margin-top: 200px;
  padding: 15px;
  padding-right: 100px;
  padding-left: 100px;
  border: 1px solid var(--theme-accent);
  border-radius: 5px;
  color: var(--theme-secondary);
  transition: background-color 0.5s;
  font-family: cursive;
  font-size: 25px;
}

.login-play-button:hover {
  cursor: pointer;
  background: var(--theme-accent);
  box-shadow: 0 0 50px var(--theme-accent);
}
