.guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.guess-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin-top: 200px;
  font-family: sans-serif;
}

.vote-button {
  outline: none;
  background: none;
  border: 1px solid var(--theme-accent);
  border-radius: 5px;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: var(--theme-secondary);
  transition: background-color 0.5s;
  font-family: cursive;
  font-size: 25px;
  background-color: transparent;
  transition: background-color 0.5s, box-shadow 0.5s;
  font-family: sans-serif;
}

.vote-button:hover {
  cursor: pointer;
  background-color: var(--theme-main);
  box-shadow: 0 0 20px var(--theme-main);
}

.guess-or {
  color: white;
  font-family: sans-serif;
}
